@use './reset.scss';
@use './responsive.scss' as responsive;
@use './typography' as type;
@use './color.scss' as color;
@use './spacing.scss' as spacing;

body {
    background-color: color.$gray-900;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 24rem;
    flex-direction: column;
    align-items: center;
    border-radius: spacing.$space-150;
    padding: spacing.$space-500;
    background-color: color.$gray-800;
    gap: spacing.$space-150;

    @include responsive.breakpoint-small-phone {
        width: 20rem;
    }

    &__image {
        @include spacing.circular;
        width: 5rem;
    }

    &__name {
        @include type.font-inter(spacing.$space-300, type.$font-bold);
        color: color.$white;
    }

    &__location {
        @include type.font-inter(spacing.$space-175, type.$font-bold);
        color: color.$green;
    }

    &__bio {
        @include type.font-inter(spacing.$space-175, type.$font-regular);
        color: color.$white;
    }

    &__links {
        width: 100%;
        color: color.$green;
        list-style-type: none;
        

        &-button {
            @include type.font-inter(spacing.$space-175, type.$font-bold);
            width: 100%;
            text-align: center; 
            margin-top: spacing.$space-150;

            & > a {
                display: block;
                border-radius: spacing.$space-100;
                text-decoration: none;
                background-color: color.$gray-700;
                color: color.$white;
                width: 100%;
                padding: spacing.$space-150;
                transition: 0.5s all;

                &:hover {
                    color: color.$gray-800;
                    background-color: color.$green;
                }
            }
        }
    }

}

.attribution { 
    padding: spacing.$space-150;
    font-size: spacing.$space-150; 
    text-align: center; 
    color: color.$gray-700;

    & a {
        color: color.$white;
    }

}


