// reset
html {
    box-sizing: border-box;
}

*,*:before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



/* font
_______________________________*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", serif;
}

@mixin font-inter($size, $weight) {
    font-size: $size;
    font-weight: $weight;
    line-height: 150%;
    letter-spacing: 0rem
}

$font-regular: 400;
$font-bold: 700;

/* color
_______________________________*/
$color-gray-900: #141414;
$color-gray-800: #1F1F1F;
$color-gray-700: #333333;
$color-green: #C4F82A;
$color-white: #FFFFFF;

/* spacing
_______________________________*/
$space-500:2.5rem; //40px
$space-300:1.5rem; //24px
$space-200: 1rem; //16px
$space-175: 0.875rem; //14px
$space-150: 0.75rem; //12px
$space-100: 0.5rem; //8px
$space-50: 0.25rem;  //4px

@mixin circular {
    border-radius: 50%;
}


body {
    background-color: $color-gray-900;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $space-150;
    padding: $space-500;
    background-color: $color-gray-800;
    gap: $space-150;

    &__image {
        @include circular;
        width: 5rem;
    }

    &__name {
        @include font-inter($space-300, $font-bold);
        color: $color-white;
    }

    &__location {
        @include font-inter($space-175, $font-bold);
        color: $color-green;
    }

    &__bio {
        @include font-inter($space-175, $font-regular);
        color: $color-white;
    }

    &__links {
        width: 100%;
        color: $color-green;
        list-style-type: none;
        

        &-button {
            @include font-inter($space-175, $font-bold);
            width: 100%;
            text-align: center; 
            margin-top: $space-150;

            & > a {
                display: block;
                border-radius: $space-100;
                text-decoration: none;
                background-color: $color-gray-700;
                color: $color-white;
                width: 100%;
                padding: $space-150;
                transition: 0.5s all;

                &:hover {
                    color: $color-gray-800;
                    background-color: $color-green;
                }
            }
        }
    }

}

.attribution { 
    padding: $space-150;
    font-size: $space-150; 
    text-align: center; 
    color: $color-gray-700;

    & a {
        color: $color-white;
    }

}