$space-500:2.5rem; //40px
$space-300:1.5rem; //24px
$space-200: 1rem; //16px
$space-175: 0.875rem; //14px
$space-150: 0.75rem; //12px
$space-100: 0.5rem; //8px
$space-50: 0.25rem;  //4px

@mixin circular {
    border-radius: 50%;
}